* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(18, 18, 20);
}

header {
  width: 100%;
  background: #09090a;
  border-bottom: 1px solid rgb(41, 41, 46);
  border-top: 1px solid rgb(41, 41, 46);
  padding: 20px 0;
  margin: 20px 0 35px;
}

header section {
  max-width: 76rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}

h1 {
  color: #e1e1e6;
  margin-top: 0.62rem;
}

main {
  max-width: 76rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
