:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-bg-color);
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

main {
  width: 55%;
  position: relative;
  padding: 50px 30px;
}

.rocket-logo {
  width: 389px;
  margin-bottom: 92px;
}

.rocket-logo img {
  width: 100%;
}

aside {
  width: 45%;
  height: 100%;
}

aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75%;
}
