:root {
  --background-color: #e5e5e5;
  --text-color: #bb99dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

a,
span {
  font-size: 1rem;
  color: var(--text-color);
  text-decoration: none;
}

section {
  padding: 0 10px;
  width: 100vw;
  max-width: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user {
  margin-bottom: 25px;
}

#user img {
  width: 200px;
  height: 200px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  margin-bottom: 22px;
}

#user a span {
  font-weight: 300;
  text-align: center;
  line-height: 1.5rem;
}

#link-list {
  width: 100%;
  text-align: center;
}

.link {
  margin: 8px 0;
  width: 100%;
  padding: 10px 0;
  border: 1px solid #bb99dd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.07);
}

.link span {
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
}

#social-networks {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  transition: 0.3s;
}

#social-networks a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-networks img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#social-networks img:hover {
  transform: scale(1.07);
  filter: brightness(0.7);
}

@media (max-width: 600px) {
  #social-networks {
    gap: 15px;
  }
}
