@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 60px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  max-width: 1440px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 114px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav-link {
  color: var(--text);
  font-size: 24px;
  font-family: var(--roboto);
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.search {
  position: relative;
}

#search-input {
  padding: 14px 5px 9px 42px;
  border: 0;
}

.search img {
  position: absolute;
  top: 10px;
  left: 8px;
}

header button {
  background-color: transparent;
  border: 0;
}
