@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --background-aside: #ececed;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
  --text-button: #ffffff;
  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,
footer {
  max-width: 2000px;
  margin: 0 auto;
}

header {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 60px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 114px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 5px;
}

.nav-link {
  color: var(--text);
  font-size: 24px;
  font-family: var(--roboto);
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.search {
  position: relative;
}

#search-input {
  padding: 14px 5px 9px 42px;
  border: 0;
}

.search img {
  position: absolute;
  top: 10px;
  left: 8px;
}

header button {
  background-color: transparent;
  border: 0;
}

main {
  width: 100%;
  display: flex;
  flex: 1;
}

aside {
  padding: 190px 72px 0 111px;
  background-color: var(--background-aside);
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

h1 {
  color: var(--text);
  font-size: 60px;
  font-family: var(--roboto);
  font-weight: 700;
  max-width: 357px;
}

.description {
  color: var(--text-description);
  font-size: 16px;
  font-family: var(--roboto);
  font-weight: 700;
  max-width: 342px;
}

.price {
  color: var(--text);
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
}

aside button {
  background: var(--button);
  border: 0;
  color: var(--text-button);
  font-size: 24px;
  font-family: var(--roboto);
  font-weight: 700;
  padding: 33px 75px;
  align-self: flex-start;
}

section {
  background-color: var(--main-background);
  padding: 174px 18px 40px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-product-image {
  width: 100%;
  display: flex;
}

.main-product-image img {
  width: 100%;
  max-width: 597px;
  margin: 0 auto;
}

.product-image-gallery {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.product-image-gallery img {
  width: 29%;
}

.selected {
  border-bottom: 5px solid var(--button);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.video {
  cursor: pointer;
  width: 20%;
  max-width: 250px;
}

.footer-nav {
  flex: 1;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  list-style: none;
  gap: 5px;
}

footer a {
  text-decoration: none;
  color: var(--footer);
  font-size: 18px;
  font-family: var(--roboto);
  font-weight: 700;
}

.explore {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 0 100px;
  align-self: stretch;
}

.explore a {
  color: var(--text-button);
  font-size: 24px;
  font-family: var(--roboto);
  font-weight: 700;
  text-decoration: none;
}

.explore img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1100px) {
  header {
    gap: 30px;
  }

  .header-nav {
    gap: 60px;
  }

  aside {
    padding: 190px 60px 15px;
  }

  .product-image-gallery {
    max-width: 500px;
  }

  .explore {
    padding: 0 50px;
  }
}

@media screen and (max-width: 770px) {
  .container {
    height: 100vh;
    justify-content: space-between;
  }

  header {
    padding: 20px;
  }

  .header-nav {
    gap: 30px;
  }

  .nav-link {
    color: var(--text);
    font-size: 16px;
  }

  aside {
    padding: 90px 40px 15px;
  }

  section {
    padding: 120px 35px 15px;
  }

  .product-image-gallery {
    gap: 10px;
    justify-content: space-between;
  }

  .footer-nav ul {
    gap: 26px;
  }

  footer a {
    font-size: 13px;
  }

  .explore a {
    color: var(--text-button);
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: none;
  }

  main {
    flex-direction: column;
  }

  aside {
    padding: 40px 20px 15px;
    align-items: center;
    text-align: center;
    order: 1;
  }

  aside button {
    width: 100%;
  }

  section {
    padding: 40px 20px 15px;
  }

  footer {
    flex-direction: column;
    gap: 30px;
  }

  footer a {
    font-size: 18px;
  }

  .video {
    width: 100%;
    max-width: none;
  }

  .explore {
    padding: 30px;
  }
}
