@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

.container {
  display: flex;

  width: 100vw;
  height: 100vh;
}

main,
aside {
  flex: 1;
}

aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
