:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header.open-sidebar {
  width: 250px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.logo {
  display: none;
}

header.open-sidebar .logo {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 14px 0 29px;
}

#bar {
  background-color: transparent;
  border: 0;
}

nav ul {
  padding: 0 14px;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  cursor: pointer;
  border-radius: 12px;
  padding: 13px;
  transition: background-color 0.3s ease;
}

nav li.active {
  background-color: var(--light-green);
}

nav li:hover {
  background-color: var(--light-green);
}

.nav-item {
  color: var(--text-color);
  font-family: var(--poppins);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  display: none;
}

header.open-sidebar .nav-item {
  display: flex;
}

.user {
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 14px;
}

#log-out {
  flex: 1;
}

.user-image {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  margin-right: 9px;
  display: none;
}

header.open-sidebar .user-image {
  display: flex;
}

.user-information {
  color: var(--text-color);
  font-family: var(--poppins);
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: none;
  flex-direction: column;
}

header.open-sidebar .user-information {
  display: flex;
}

.user-name {
  font-size: 15px;
}

.user-position {
  font-size: 12px;
}

#log-out {
  background-color: transparent;
  border: 0;
  display: flex;

  justify-content: center;
}

header.open-sidebar #log-out {
  justify-content: flex-end;
}

main {
  background-color: var(--body-bg-color);
  padding: 20px 18px;
  height: 100vh;
  padding: 20px 18px 0 96px;
}

main.open-sidebar {
  padding: 20px 18px 0 268px;
}

h1 {
  color: var(--text-color);
  font-family: var(--poppins);
  font-size: 25px;
  font-weight: 500;
}
