* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--body-background);
  color: var(--text-color);
  font-family: var(--montserrat);
}

header {
  width: 100vw;
  max-width: 1600px;
  padding: 57px 80px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: transparent;
}

.logo {
  width: 100%;
  max-width: 265px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.nav-item {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.connect {
  background-color: var(--text-color);
  width: 230px;
  padding: 14px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: transform 0.5s linear;
  cursor: pointer;
}

.connect:hover {
  transform: scale(1.1);
}

.connect p {
  color: var(--black-text);
  font-family: var(--montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#menu-button {
  display: none;
}

#sidebar {
  display: none;
}

main {
  width: 100vw;
  padding-bottom: 156px;
}

section {
  width: 100%;
  max-width: 1600px;
  padding: 0 80px;
  margin: 0 auto;
}

.discover {
  background-image: url(./images/background.png);
  background-repeat: repeat;
  background-position: center;
}

.discover article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  padding: 197px 80px 0 80px;
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 30px;
}

.discover-description {
  max-width: 401px;
}

.discover-description > p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 55px;
}

.discover-artists {
  display: flex;
  align-items: flex-end;
  gap: 2px;
}

.discover-artists p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.discover-artists p span {
  font-weight: 700;
}

h1 {
  max-width: 533px;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 span {
  color: #ff5b50;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px 10px;
  flex-wrap: wrap;
}

.gallery img {
  border: 1px solid var(--text-color);
  width: 24%;
  transition: all 0.5s linear;
}

.gallery img:hover {
  transform: scale(1.1);
}

.sales {
  border-bottom: 1px solid var(--subtitle-color);
  display: flex;
}

.sales-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 113px 60px;
  border-right: 1px solid var(--subtitle-color);
}

.number {
  font-size: 50px;
  font-weight: 600;
}

.type {
  color: var(--subtitle-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.sales-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sales-description-text {
  display: flex;
  justify-content: center;
}

.sales-description-text div {
  padding: 80px 50px 70px;
}

.sales-description-text p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 63px;
}

.sales-description-text p a {
  color: var(--color-logo);
}

.sales-description-link {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}

.sales-description img {
  width: 100%;
  max-width: 1192px;
}

.popular-nfts {
  padding: 155px 80px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h2 span,
h4 span {
  color: var(--color-logo);
}

.popular-nfts-title {
  margin-bottom: 171px;
}

.popular-nfts-week {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.popular-nfts-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 63px;
}

.nft-info,
.nft-artist-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nft-info {
  margin-bottom: 44px;
}

.nft-name {
  font-size: 30px;
  font-weight: 500;
}

.nft-artist-info {
  margin-bottom: 26px;
}

.nft-artist-name {
  color: var(--subtitle-color);
  font-size: 20px;
  font-weight: 600;
}

.nft-artist-price {
  color: var(--color-logo);
  font-size: 20px;
  font-weight: 400;
}

.nft-image {
  width: 100%;
  max-width: 350px;
}

.popular-nfts-column {
  height: 718px;
  border-left: 1px solid var(--subtitle-color); /* Aumenta a largura da linha para 3px */
}

.top-artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.top-artists-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 111px;
  flex-wrap: wrap;
}

.top-artists-item {
  background-color: var(--card-color);
  flex-basis: calc((100% - 222px) / 3);
  padding: 25px 32px;
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.featured-artist {
  background-color: var(--color-logo);
}

.top-artist-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.top-artist-amount-photos {
  color: var(--color-logo);
  font-size: 20px;
  font-weight: 500;
}

.featured-artist .top-artist-amount-photos {
  color: var(--text-color);
}

.top-artists-link {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.top-artists-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: -29px;
  width: 20px;
  height: 20px;
  background-image: url("./images/arrow-orange.svg");
  background-size: cover;
}

footer {
  background: var(--card-color);
  padding: 82px 0 62px 0;
}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid var(--subtitle-color);
  padding-bottom: 77px;
}

.footer-header h4 {
  font-size: 40px;
  font-weight: 700;
}

.to-the-top {
  background-color: var(--color-logo);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-the-top img {
  width: 22px;
  height: 22px;
}

.footer-main {
  border-bottom: 1px solid var(--subtitle-color);
  display: flex;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 67px 62px 52px 0;
  border-right: 1px solid var(--subtitle-color);
}

.footer-newsletter p {
  font-size: 30px;
  font-weight: 500;
}

.footer-newsletter p span {
  color: var(--color-logo);
}

.footer-newsletter form {
  display: flex;
}

.footer-newsletter input {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 25px;
  background-color: var(--color-input);
}

.footer-newsletter button {
  font-size: 20px;
  font-weight: 700;
  padding: 22px 25px;
  color: var(--black-text);
  background-color: var(--text-color);
}

.footer-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 129px;
  padding: 74px 0 50px;
}

.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-links ul li a {
  color: var(--subtitle-color);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.footer-links ul li:first-child a {
  color: var(--text-color);
}

.footer-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 80px;
}

.rocketseat-link {
  color: var(--subtitle-color);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 1100px) {
  header {
    padding: 57px 60px;
  }

  .nav-list {
    gap: 30px;
  }

  .top-artists-item {
    flex-basis: calc((100% - 222px) / 2);
  }

  .footer-links {
    gap: 50px;
  }
}

@media screen and (max-width: 770px) {
  .nav-list {
    display: none;
  }

  .connect {
    display: none;
  }

  #menu-button {
    display: block;
    cursor: pointer;
  }

  .discover article {
    justify-content: center;
    padding: 150px 40px 0 40px;
  }

  h1 {
    text-align: center;
  }

  .gallery img {
    width: 45%;
  }

  .gallery img:hover {
    transform: scale(1);
  }

  section {
    padding: 0px 25px;
  }

  .sales {
    flex-direction: column;
  }

  .sales-numbers {
    gap: 50px;
    padding: 60px 40px;
    border-right: 0;
    border-bottom: 1px solid var(--subtitle-color);
  }

  .sales-description-text {
    flex-wrap: wrap;
  }

  .sales-description-text div {
    padding: 35px 5px;
  }

  .popular-nfts-week {
    flex-direction: column;
  }

  .popular-nfts-items,
  article.nft-item {
    width: 100%;
  }

  .popular-nfts-title {
    margin-bottom: 50px;
  }

  .popular-nfts-column {
    display: none;
  }

  .nft-image {
    max-width: none;
  }

  .top-artists {
    gap: 60px;
  }

  .top-artists-list {
    justify-content: space-between;
    gap: 40px;
  }

  .top-artists-item {
    flex-basis: 45%;
  }

  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .footer-newsletter {
    border-right: 0;
  }
}

@media screen and (max-width: 500px) {
  #menu-button {
    display: block;
    cursor: pointer;
  }

  .discover article {
    justify-content: center;
    padding: 150px 20px 0 20px;
  }

  .gallery img {
    width: 100%;
  }

  .popular-nfts {
    padding: 50px 30px;
  }

  .top-artists-item {
    flex-basis: 100%;
  }

  .footer-newsletter {
    padding: 67px 0 52px 0;
  }

  .footer-newsletter form {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    flex-wrap: wrap;
  }

  .footer-footer {
    flex-direction: column;
  }
}
