* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--body-background);
  color: var(--text-color);
  font-family: var(--montserrat);
}

header {
  width: 100vw;
  max-width: 1600px;
  padding: 57px 80px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: transparent;
}

.logo {
  width: 100%;
  max-width: 265px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.nav-item {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.connect {
  background-color: var(--text-color);
  width: 230px;
  padding: 14px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: transform 0.5s linear;
  cursor: pointer;
}

.connect:hover {
  transform: scale(1.1);
}

.connect p {
  color: var(--black-text);
  font-family: var(--montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#menu-button {
  display: none;
}

#sidebar {
  display: none;
}

main {
  width: 100vw;
  padding-bottom: 156px;
}

section {
  width: 100%;
  max-width: 1600px;
  padding: 0 80px;
  margin: 0 auto;
  height: 10px;
}

.discover {
  background-image: url(./images/background.png);
  background-repeat: repeat;
  background-position: center;
}

.discover article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  padding: 197px 80px 0 80px;
  margin: 0 auto;
}

.discover-description {
  max-width: 401px;
}

.discover-description > p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 55px;
}

.discover-artists {
  display: flex;
  align-items: flex-end;
  gap: 2px;
}

.discover-artists p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.discover-artists p span {
  font-weight: 700;
}

h1 {
  max-width: 533px;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 span {
  color: #ff5b50;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px 10px;
  flex-wrap: wrap;
}

.gallery img {
  border: 1px solid var(--text-color);
}

@media screen and (max-width: 1100px) {
  header {
    padding: 57px 60px;
  }

  .nav-list {
    gap: 30px;
  }
}

@media screen and (max-width: 770px) {
  body.menu-open {
    overflow: hidden;
  }

  .nav-list {
    display: none;
  }

  .connect {
    display: none;
  }

  #menu-button {
    display: block;
    cursor: pointer;
  }
}
